<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-W5QB2H7');</script>
	<!-- End Google Tag Manager -->

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="icon" href="/img/favicon.png" sizes="any">

	{% block title %}
		<title>{{title}} | Clear-Cut Accessibility Benchmarks</title>
	{% endblock %}

	{% set sitefolder = env.SCANNED_SITE_TITLE|safe|slugify|replace("amp-","") %}

	<link rel="stylesheet" href="https://clearcut.steedgood.com/{{sitefolder}}/css/normalize.css" data-other-href="/css/normalize.css">
	<link rel="stylesheet" href="https://clearcut.steedgood.com/{{sitefolder}}/css/prism.css" data-other-href="/css/prism.css">
	<link rel="stylesheet" href="https://clearcut.steedgood.com/{{sitefolder}}/css/a11ybench.css" data-other-href="/css/a11ybench.css">

	<meta property="og:image" content="https://clearcut.steedgood.com/img/og.png">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<meta name="twitter:image" content="https://clearcut.steedgood.com/img/og.png">
	<meta name="twitter:image:width" content="1200">
	<meta name="twitter:image:height" content="630">


	<!-- JS at page bottom -->
	
</head>
<body class="{{bodyclass}}">

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W5QB2H7"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	<a class="skip-link" href="#main">Skip to content</a>

	<header class="top">
		<div class="logo">
			{% if frontpage %}<h1>{% endif %}
				<a href="https://clearcut.steedgood.com">Clear-Cut Accessibility Benchmarks</a>
			{% if frontpage %}</h1>{% endif %}
		</div>
		<nav class="menu">
			<ul>
				<li><a href="https://clearcut.steedgood.com/about">About</a></li>
				<li><a href="https://clearcut.steedgood.com/why-accessibility-testing-matters">Why This Matters</a></li>
				<li><a href="https://clearcut.steedgood.com/faq">FAQ</a></li>
				<li>
					<a href="https://clearcut.steedgood.com/contact" class="button">
						Help Me!
					</a>
				</li>
			</ul>
		</nav>
		<div class="steedlogo"><a href="https://steedgood.com" target="_blank">Steed</a></div>
	</header>


	<main id="main">

        {% block content %}
            {{ content | safe }}
        {% endblock %}
    </main>

	{% if hide_ctas != true %}
	<aside class="ctas">
		<div class="wrapper">
			<h2>Need some accessibility help?</h2>
			<div class="boxes">
				<div class="box">
					<h3>Fix our detected issues</h3>
					<p>Let’s take a few hours and patch up your most obvious problems.</p>
					<div class="buttonholder">
						<a href="https://clearcut.steedgood.com/contact/" class="button">Fix our issues</a>
					</div>
				</div>
				<div class="box">
					<h3>Audit by a real, human expert</h3>
					<p>Automated tools can only catch about 50% of accessibility problems. Let an accessibility expert navigate through the most important pages of your site to find issues affecting your visitors.</p>
					<div class="buttonholder">
						<a href="https://clearcut.steedgood.com/contact/" class="button">Audit our site</a>
					</div>
				</div>
				<div class="box">
					<h3>Redesign our website</h3>
					<p>If it’s time to start over, let our team help. More than just accessibility compliance, we’re committed to the best experience for your visitors.</p>
					<div class="buttonholder">
						<a href="https://clearcut.steedgood.com/contact/" class="button">Redesign our site</a>
					</div>
				</div>
			</div>
		</div>
	</aside>
	{% endif %}

	<footer class="bottom">
		<div class="logo">
			<a href="https://clearcut.steedgood.com">Clear-Cut Accessibility Benchmarks</a>
			<p>
				Clear-Cut Accessibility Benchmarks is a free service of Steed Interactive. 
			</p>
		</div>
		<div class="steedlogo"><a href="https://steedgood.com" target="_blank">Steed</a></div>
		<div class="fineprint">
			<a href="https://steedgood.com">&copy;{{helpers.currentYear()}} Steed Interactive</a>
		</div>
	</footer>


    {% block scripts %}
		<script src="/js/a11ybench.js"></script>
		<script src="/js/prism.js"></script>
    {% endblock %}
</body>
</html>