---
title: Scanned Pages
layout: 'layouts/base.njk'
---

    <h1>{{site.name}}</h1>

    <details>
        <summary>Crawled pages</summary>
        <ul>
            {% for page in scanner.crawledPages %}
            <li>
                <a href="{{page.url}}">
                    {{page.url}}
                    {%- if page.innav -%}
                        *
                    {%- endif -%}
                </a>
            </li>
            {% endfor %}
        </ul>
    </details>

    <ul>
        {% for page in scanner.resultPages %}
            <li>
                <a href="/page/{{page.slug}}">{{page.results.url}}</a>
                <br>

                {% set resultTypes = ["violations","incomplete"] %}

                {% for resultType in resultTypes %}
                    <p>
                        {{resultType}}: {{page.results[resultType]|length}}
                        <ul>
                            {% for item in page.results[resultType] %}
                                <li>{{item.id}} - {{item.nodes|length}}</li>

                                {% for node in item.nodes %}
                                    - {{ node.target[0] }} <br>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </p>
                {% endfor %}

                
            </li>
        {% endfor %}
    </ul>

    <p>
        Scanned with {{scanner.resultPages[0].results.testEngine.name}} {{scanner.resultPages[0].results.testEngine.version}}
        on {{ helpers.formatDate( scanner.resultPages[0].results.timestamp, "ff" ) }}
    </p>

    <pre>
    {{scanner.resultPages|dump(4)}}
    </pre>