---
eleventyComputed:
  title: "Results: '{{env.SCANNED_SITE_TITLE}}'"
layout: 'layouts/base.njk'
---
<div class="section siteheading">

    {% set homepage = env.CRAWL_START_URL %}
    {% set homepage_domain = homepage|replace("https://", "")|replace("http://", "") %}

    <div class="wrapper">
        <div class="imgcol">
            <img src="https://s.a11ybench.com/{{homepage|urlencode}}/large/1:1/smaller/_wait:2/_{% nowdate "YYYYMM" %}" alt="Screenshot of {{env.SCANNED_SITE_TITLE}}" />
        </div>
        <div class="textcol">
            <h1>
                <div class="large">
                    {{env.SCANNED_SITE_TITLE}}
                </div>
                <div class="subtitle">
                    Accessibility Scan
                </div>
            </h1>
            <a href="{{homepage}}" class="sitelink">{{homepage_domain}}</a>
            <time datetime="{% nowdate "YYYY-MM-DDTHH:mm:ssZ[Z]" %}">
                Scanned {{ scanner.resultPages|length }} pages on {% nowdate "MMM. D, YYYY" %}
            </time>

            {%- set pageCount = scanner.resultPages|length -%}

            {%- if scanner.violationsTotal > 0 -%}
              {%- set violationsPerPage = scanner.violationsTotal / pageCount -%}
            {%- else -%}
              {%- set violationsPerPage = 0 -%}
            {%- endif -%}

            {%- if scanner.incompleteTotal > 0 -%}
              {%- set incompletePerPage = scanner.incompleteTotal / pageCount -%}
            {%- else -%}
              {%- set incompletePerPage = 0 -%}
            {%- endif -%}

            <div class="summary">
                <div class="item violations text">
                    <span class="number">{{violationsPerPage|round(1)}}</span> <span class="label">Violations/Page</span>
                </div>
                <div class="item incomplete text">
                    <span class="number">{{incompletePerPage|round(1)}}</span> <span class="label">"Needs Review"/Page</span>
                </div>
            </div>
        </div>
       
    </div>
</div>

{% set pageCount = scanner.resultPages|length %}
{% set countPerFirstPage = scanner.violationsSummary[0].count / pageCount %}

{# The number of characters in "_.00/page" for first item #}
{% set charsForFirstPage = countPerFirstPage|round(0)|string|length + 7 %}

<section class="breakdown" style="--first-quantity:{{countPerFirstPage|round(2)}};--first-chars:{{charsForFirstPage}}ch;">

    <div class="wrapper">
        <h2>Site Violations Summary</h2>
        <dl>

            {% for violation in scanner.violationsSummary %}

                {% set countPerPage = violation.count / pageCount %}
                <dt>
                    {{violation.help}}
                </dt>
                <dd style="--this-quantity:{{countPerPage|round(2)}};">
                    <div class="quantity">{{countPerPage|round(2)}}/page</div>
                    <div class="bar"></div>
                </dd>
            {% else %}
                <p>No violations found. Explore the pages below to check for tests that need manual review.</p>
            {% endfor %}
        </dl>
    </div>
</section>

<section class="pagelist">
    <div class="wrapper">
        <h2>List of Scanned Pages</h2>
        <p>Pages with the most errors displayed first.</p>

        <ol class="pageol">
            {% for page in scanner.resultPages|sort(true, false, 'results.violationCountOnPage') %}
                <li>
                    <a href="/page/{{page.slug}}/">
                        <div class="textcol">
                            <h3>{{ page.pageH1 }}</h3>
                            <div class="url">
                                {{page.results.url}}
                            </div>
                            
                        </div>
                        
                        <div class="errors">
                            <div class="number">{{page.results.violationCountOnPage}}</div>
                            <div class="text">Violations</div>
                        </div>

                        <div class="warningsnotices">
                            {{page.results.violationCountOnPage}}&nbsp;Violations,
                            {{page.results.incompleteCountOnPage}}&nbsp;Needs Review
                        </div>

                    </a>
                </li>
            {% endfor %}

        </ol>

    </div>
</section>