---
title: Scanned pages
layout: 'layouts/base.njk'
---
<div class="section siteheading">

    {% set homepage = scanner.resultPages[0].results.url %}
    {% set homepage_domain = homepage|replace("https://", "")|replace("http://", "") %}

    <div class="wrapper">
        <div class="imgcol">
            <img src="https://s.a11ybench.com/{{homepage|urlencode}}/large/1:1/smaller/_wait:2/_{% nowdate "YYYYMM" %}" alt="{{env.SCANNED_SITE_TITLE}}" />
        </div>
        <div class="textcol">
            <h1>
                <div class="large">
                    {{env.SCANNED_SITE_TITLE}}
                </div>
                <div class="subtitle">
                    Accessibility Scan
                </div>
            </h1>
            <a href="{{homepage}}" class="sitelink">{{homepage_domain}}</a>
            <time datetime="{% nowdate "YYYY-MM-DDTHH:mm:ssZ[Z]" %}">
                Scanned {{ scanner.resultPages|length }} pages on {% nowdate "MMM. D, YYYY" %}
            </time>
        </div>
       
    </div>
</div>

{% set pageCount = scanner.resultPages|length %}
{% set countPerFirstPage = scanner.violationsSummary[0].count / pageCount %}

{# The number of characters in "_.00/page" for first item #}
{% set charsForFirstPage = countPerFirstPage|round(0)|string|length + 7 %}

<section class="breakdown" style="--first-quantity:{{countPerFirstPage|round(2)}};--first-chars:{{charsForFirstPage}}ch;">

    <div class="wrapper">
        <h2>Violation Summary by Type</h2>
        <dl>

            {% for violation in scanner.violationsSummary %}

                {% set countPerPage = violation.count / pageCount %}
                <dt>
                    {{violation.help}}
                </dt>
                <dd style="--this-quantity:{{countPerPage|round(2)}};">
                    <div class="quantity">{{countPerPage|round(1)}}/page</div>
                    <div class="bar"></div>
                </dd>

            {% endfor %}
        </dl>
    </div>
</section>

<section class="pagelist">
    <div class="wrapper">
        <h2>List of Scanned Pages</h2>
        <p>Pages with the most errors displayed first.</p>

        <ol class="pageol">
            {% for page in scanner.resultPages|sort(true, false, 'results.violationCountOnPage') %}
                <li>
                    <a href="page/{{page.slug}}/">
                        <div class="textcol">
                            <h3>{{ page.pageH1 }}</h3>
                            <div class="url">
                                {{page.results.url}}
                            </div>
                            
                        </div>
                        
                        <div class="errors">
                            <div class="number">{{page.results.violationCountOnPage}}</div>
                            <div class="text">Violations</div>
                        </div>

                        <div class="warningsnotices">
                            {{page.results.violationCountOnPage}}&nbsp;Violations,
                            {{page.results.incompleteCountOnPage}}&nbsp;Incomplete
                        </div>

                    </a>
                </li>
            {% endfor %}

        </ol>

    </div>
</section>