---
title: Pa11y Pages
pagination:
  data: scanner.resultPages
  size: 1
  alias: page
layout: 'layouts/base.njk'
permalink: 'page/{{page.slug}}/index.html'
---

{% for page in pagination.items %}
    <pre>
    {{page|dump(2)}}
    </pre>
{% endfor %}