---
title: Scanned Page
pagination:
  data: scanner.resultPages
  size: 1
  alias: page
layout: 'layouts/base.njk'
permalink: 'page/{{page.slug}}/index.html'
---
{% for pageresult in pagination.items %}
  <div class="section scanheading">
      <div class="wrapper">
          <nav class="breadcrumb" aria-label="breadcrumbs">
              <ol>
                  <li><a href="/">Home</a></li>
              </ol>
          </nav>
          <h1>
              <div class="large">
                  Page Scan Results:
              </div>
              <div class="subtitle">
                  {{ pageresult.pageH1 }}
              </div>
          </h1>
          <a href="{{pageresult.results.url}}" class="sitelink" target="_blank">{{pageresult.results.url}}</a>
          <time datetime="{% nowdate "YYYY-MM-DDTHH:mm:ssZ[Z]" %}">
              Scanned {% nowdate "MMM. D, YYYY [at] h:mm A" %}
          </time>
      </div>
  </div>

  {% set violations = pageresult.results.violations|sort(true, false, 'nodeCount') %}
  {% set violationcount = pageresult.results.violationCountOnPage %}
  {% set incomplete = pageresult.results.incomplete|sort(true, false, 'nodeCount') %}
  {% set incompletecount = pageresult.results.incompleteCountOnPage %}

  <div class="tabs">
    <div class="tabs-issuetype" role="tablist" aria-label="Issues">
        <button class="violations" role="tab" aria-selected="true" aria-controls="violations-panel" id="tab-1" tabindex="0">
            {{violationcount}} Violations
        </button>
        <button class="incomplete" role="tab" aria-selected="false" aria-controls="incomplete-panel" id="tab-2" tabindex="-1">
            {{incompletecount}} Incomplete
        </button>
    </div>

    <div id="violations-panel" role="tabpanel" tabindex="0" aria-labelledby="tab-1">

      <section class="breakdown narrownumbers" 
        {% if violations.length %} 
            style="--first-quantity:{{violations[0].nodeCount}};--first-chars:{{violations[0].nodeCount|string|length}}ch;"
        {% endif %}
      >

          <div class="wrapper">
              <h2>Violations Summary</h2>
              {% if violations.length %}
                  <dl>
                      {% for issue in violations %}
                          <dt>
                              <a href="#{{issue.id|slugify}}">
                                  {{issue.help}}
                              </a>
                          </dt>
                          <dd style="--this-quantity:{{issue.nodeCount}};">
                              <div class="quantity">{{issue.nodeCount}}</div>
                              <div class="bar"></div>
                          </dd>
                      {% endfor %}

                  </dl>
              {% else %}
                  <p>
                      No violations found.
                  </p>
              {% endif %}
          </div>
      </section>

      {% if violations.length %}
          <section class="issuelist">
              <div class="wrapper">
                  <h2>
                      Violations on This Page
                  </h2>

                  {% for issue in violations %}
                      <div class="issue" id="{{issue.id|slugify}}">

                          <h3>
                              {{issue.help}}
                          </h3>
                          <div class="severitytags">
                              <div class="severity violation {{issue.impact}}">
                                  {{issue.impact}}
                              </div>
                          </div>

                          <div class="textcol">
                              <p>
                                  {{issue.description}}.
                                  <a href="{{issue.helpUrl}}" class="external" target="_blank">Axe&nbsp;Reference</a>
                              </p>

                              {% if issue.tags|length %}
                                <div class="tags">
                                    Tags:
                                    {% for tag in issue.tags %}
                                        <span class="tag">{{tag}}</span>
                                        {%- if loop.last != true%}, {% endif %}
                                    {% endfor %}
                                </div>
                              {% endif %}

                              <ol class="occurrences">

                                  {% for node in issue.nodes %}
                                    <li>
                                        {% highlight "html" %}
                                            {# Replace whitespace w/ single space #}
                                            {# Replace new line + whitespace w/ just new line #}
                                            {{- node.html
                                                |replace(r/[\t ]+/g ," ")
                                                |replace(r/\n /g ,"\n")
                                                |safe 
                                            -}}
                                        {% endhighlight %}
                                        <div class="selector">
                                            <div class="text">Element selector:</div>
                                            <code class="light">{{ node.target|safe }}</code>
                                        </div>

                                        {# Get messages on specific checks #}
                                        {# Any, all, none defined here under Parameters: https://www.deque.com/axe/core-documentation/api-documentation/#api-name-axeconfigure #}
                                        {% set nodeitemtypes = {
                                                "any":"Failing checks (At least one of these should pass) ",
                                                "all": "Failing checks (All of these should pass) ",
                                                "none": "Failing checks (All of these should pass) "
                                            }
                                        %}

                                        {% for nodeitemtype, description in nodeitemtypes %}
                                            {% if node[nodeitemtype]|length %}
                                                <details>
                                                    <summary>{{description}}</summary>
                                                    <div class="checks">
                                                        <ul>
                                                            {% for nodeitem in node[nodeitemtype] %}
                                                                <li>
                                                                    {{nodeitem.message}}

                                                                    {% for related in nodeitem.relatedNodes %}
                                                                        {% for target in related.target %}
                                                                            <code class="light">{{target}}</code>
                                                                        {% endfor %}
                                                                    {% endfor %}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </details>
                                            {% endif %}
                                        {% endfor %}
                                        
                                    </li>

                                  {% endfor %}
                              </ol>
                          </div>
                      </div>
                  {% endfor %}


              </div>
          </section>
      {% endif %}
    </div>

    <div id="incomplete-panel" role="tabpanel" tabindex="0" aria-labelledby="tab-2" hidden="hidden">

      <section class="breakdown narrownumbers" 
        {% if incomplete.length %} 
            style="--first-quantity:{{incomplete[0].nodeCount}};--first-chars:{{incomplete[0].nodeCount|string|length}}ch;"
        {% endif %}
    >

          <div class="wrapper">
              <h2>Incomplete Summary</h2>
              {% if incomplete.length %}
                  <dl>
                      {% for issue in incomplete %}
                          <dt>
                              <a href="#{{issue.id|slugify}}">
                                  {{issue.help}}
                              </a>
                          </dt>
                          <dd style="--this-quantity:{{issue.nodeCount}};">
                              <div class="quantity">{{issue.nodeCount}}</div>
                              <div class="bar"></div>
                          </dd>
                      {% endfor %}

                  </dl>
              {% else %}
                  <p>
                      No incomplete found.
                  </p>
              {% endif %}
          </div>
      </section>

      {% if incomplete.length %}
          <section class="issuelist">
              <div class="wrapper">
                  <h2>
                      Incomplete on This Page
                  </h2>

                  {% for issue in incomplete %}
                      <div class="issue" id="{{issue.id|slugify}}">

                          <h3>
                              {{issue.help}}
                          </h3>
                          <div class="severitytags">
                              <div class="severity incomplete {{issue.impact}}">
                                  {{issue.impact}}
                              </div>
                          </div>

                          <div class="textcol">
                              <p>
                                  {{issue.description}}.
                                  <a href="{{issue.helpUrl}}" class="external" target="_blank">Axe&nbsp;Reference</a>
                              </p>

                              {% if issue.tags|length %}
                                <p class="tags">
                                    Tags:
                                    {% for tag in issue.tags %}
                                        <span class="tag">{{tag}}</span>
                                        {%- if loop.last != true%}, {% endif %}
                                    {% endfor %}
                                </p>
                              {% endif %}

                              <ol class="occurrences">

                                  {% for node in issue.nodes %}
                                    <li>
                                        {% highlight "html" %}
                                            {# Replace whitespace w/ single space #}
                                            {# Replace new line + whitespace w/ just new line #}
                                            {{- node.html
                                                |replace(r/[\t ]+/g ," ")
                                                |replace(r/\n /g ,"\n")
                                                |safe 
                                            -}}
                                        {% endhighlight %}
                                        <div class="selector">
                                            <div class="text">Element selector:</div>
                                            <code class="light">{{ node.target|safe }}</code>
                                        </div>

                                        {# Get messages on specific checks #}
                                        {# Any, all, none defined here under Parameters: https://www.deque.com/axe/core-documentation/api-documentation/#api-name-axeconfigure #}
                                        {% set nodeitemtypes = {
                                                "any":"Failing checks (At least one of these should pass) ",
                                                "all": "Failing checks (All of these should pass) ",
                                                "none": "Failing checks (All of these should pass) "
                                            }
                                        %}

                                        {% for nodeitemtype, description in nodeitemtypes %}
                                            {% if node[nodeitemtype]|length %}
                                                <details>
                                                    <summary>{{description}}</summary>
                                                    <div class="checks">
                                                        <ul>
                                                            {% for nodeitem in node[nodeitemtype] %}
                                                                <li>
                                                                    {{nodeitem.message}}

                                                                    {% for related in nodeitem.relatedNodes %}
                                                                        {% for target in related.target %}
                                                                            <code class="light">{{target}}</code>
                                                                        {% endfor %}
                                                                    {% endfor %}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </details>
                                            {% endif %}
                                        {% endfor %}

                                    </li>

                                  {% endfor %}
                              </ol>
                          </div>
                      </div>
                  {% endfor %}


              </div>
          </section>
      {% endif %}
    </div>
  </div>

  {# <pre>
  {{pageresult.results|dump(2)}}
  </pre> #}
{% endfor %}