---
title: Pa11y Pages
pagination:
  data: scanner.resultPages
  size: 1
  alias: page
layout: 'layouts/base.njk'
permalink: 'page/{{page.slug}}/index.html'
---
{% for pageresult in pagination.items %}
  <div class="section scanheading">
      <div class="wrapper">
          <nav class="breadcrumb" aria-label="breadcrumbs">
              <ol>
                  <li><a href="/">Home</a></li>
              </ol>
          </nav>
          <h1>
              <div class="large">
                  Page Scan Results:
              </div>
              <div class="subtitle">
                  {{ pageresult.pageH1 }}
              </div>
          </h1>
          <a href="{{pageresult.results.url}}" class="sitelink" target="_blank">{{pageresult.results.url}}</a>
          <time datetime="{% nowdate "YYYY-MM-DDTHH:mm:ssZ[Z]" %}">
              Scanned {% nowdate "MMM. D, YYYY [at] h:mm A" %}
          </time>
      </div>
  </div>


  <pre>
  {{pageresult.results.url|dump(2)}}
  </pre>
{% endfor %}