---
permalink: 'summary.json'
---

{%- set pageCount = scanner.resultPages|length -%}
{%- set violationsPerPage = scanner.violationsTotal / pageCount -%}
{%- set incompletePerPage = scanner.incompleteTotal / pageCount -%}
{
  "site_title": "{{env.SCANNED_SITE_TITLE}}",
  "generated": "{% nowdate %}",
  "violations_per_page": {{ violationsPerPage | round(5) }},
  "incomplete_per_page": {{ incompletePerPage | round(5) }},
  "pages_scanned": {{ pageCount }},
  "first_page_scanned" : "{{scanner.resultPages[0].results.url}}", {# Probably the home page #}
  "violations_summary" : [
    {% for violation in scanner.violationsSummary -%}
      { "help":"{{violation.help}}","count":{{violation.count}} } {%- if not loop.last %},{% endif %}
    {% endfor %}
  ]
}